.note_common, .bignote, .editinfo{
    padding:20px 10px 10px 10px;
    color:#000;
    float:left;
    margin:20px;
    margin-top:10px;
    position:relative;
    cursor:pointer;
    border: 3px solid white;

    -moz-box-shadow: -7px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: -7px 10px rgba(0,0,0,0.3);
    box-shadow: -7px 10px rgba(0,0,0,0.3);
}

.note_common h2{
    text-align:center;
    margin-top:0;
    padding-top:0;
    font-family: cursive;
}

.note_common p{
    font-size:0.9em;
    overflow:auto;
    overflow-x:hidden;
    line-height:18px;
    text-align:left;
    font-family: 'Architects Daughter', cursive;
}
.inset{
   -moz-box-shadow:inset 0 0 10px #cccccc;
   -webkit-box-shadow:inset 0 0 10px #cccccc;
   box-shadow:inset 0 0 10px #cccccc;
   background:#f8f7f7;
   color:#333;
   padding:5px;
   font-size:0.9em;
   border:1px solid #e7e7e7;
   font-family: 'Architects Daughter', cursive;
}

input:focus,textarea:focus,select:focus{border:1px solid #fafafa;-webkit-box-shadow:0 0 6px #000;-moz-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;}

.tip{
   background:url(../img/tip.png) no-repeat;
   font-size:13px;
   padding-left:25px;
   padding-top:3px;
   vertical-align:middle;
}
